<ion-header>
    <ion-navbar>
        <ion-title>{{'my_portfolio' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-color">
    <div class="empty-view" *ngIf="!isLoading && (!portfolios || !portfolios.length)">
        <div style="text-align:center">
            <img src="assets/imgs/empty_reviews.png" alt="no offers" />
            <span style="color:#9E9E9E; font-weight:bold;">
                {{'no_portfolios_to_show' | translate}}
            </span>
        </div>
    </div>
    <ion-row>
        <ion-col col-6 *ngFor="let portfolio of portfolios">
            <div class="img_box">
                <img data-src="{{portfolio.image_url}}" (click)="linkPortfolio(portfolio)">
                <ion-icon name="md-close-circle" (click)="deletePortfolio(portfolio)"></ion-icon>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer no-border>
    <ion-icon name="md-add" (click)="upload_portfolio()"></ion-icon>
</ion-footer>